.Menu{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 400px;
}


@media (max-width: 840px) {

   .Menu{
      margin-left: 0px;
   }
}